version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: de_user
      POSTGRES_PASSWORD: de_password
      POSTGRES_DB: de_db
    ports:
      - "5432:5432"
    volumes:
      - postgrres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  airflow:
    image: apache/airflow:2.10.2
    container_name: airflow
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__LOAD__EXAMPLES: "false"
      AIRFLOW__CORE__EXECUTOR: "LocalExecutor"
      AIRFLOW__DATABASE__SQL__ALCHEMY__CONN: postgresql+psycopg2://de_user:de_password@postgres:5432/de_db
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow.logs
      - ./airflow/plugins:/opt/airflow/plugins
    command: bash -c "airflow db migrate && airflow users create --username admin --password admin --firstname admin --lastname admin --role Admin --email admin@example.com && airflow webserver & airflow scheduler"    


  ingestion:
    build: ./ingestion
    container_name: ingestion
    depends_on:
      - minio
      - postgres
    environment:
      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      DB_HOST: postgres
      DB_USER: de_user
      DB_PASSOWRD: de_password
      DB_NAME: de_db

  metabase:
    image: metabase/metabase
    container_name: metabase
    ports:
      - "3000:3000"

  volumes:
    postgres_data:
    minio_data:
